<div *ngIf="affiche" class="">
<form action=""  >
    <div>
        <p><label for="">Le nom du livre</label></p>
        <input type="text" placeholder="Entrer le nom du livre" class="livre">
    </div>
    <div>
        <p><label for="">Le nom de l'auteur</label></p>
     <input type="text" placeholder="entrer le nom de l'auteur">
      
    </div>
    <div>
        <p><label for="">Statut du livre </label></p>
        <input type="text" placeholder="la statut du livre">
    </div>
    <div>
        <button>Enregistrer</button>
    </div>

    </form>
</div>
    
